@model BookDisplayResponse
<div class="card">
    <img src="@Model.ImageUrl" class="figure-img" />
    <div class="card-body">
        <div class="card-text">@Model.Title</div>
        <div class="card-text">@Model.Description</div>
        <div class="card-text">@Model.Author</div>
        <div class="card-text">@Model.Price yerine @(Model.Price * (1 - Model.DiscountRate)) TL</div>
        <button class="btn btn-success">Sepete Ekle</button>


    </div>
</div>